<h1><%= @workouttype.name %></h1>
<hr>

<hr>
<ul style="list-style-type: none;">
    <h2> See the current Training Sessions for this Work out! </h2>
    <% @workouttype.training_sessions.each do |obj| %>
        <li>
            <%= link_to obj.name, obj %>
        </li>
    <% end %>
</ul>


        <div>
            <ul style="list-style-type: none;">
                <h2>WHY SHOULD I TRAIN MY ARMS AND SHOULDERS?</h2>
                <li>If your goal is to improve muscle tone or strength in your arms and shoulders, there are a number of exercises you can do to work this area and reap the following benefits:</li>
                <br><br>
                <li><b>Stronger arms make it easier to perform everyday tasks. </b> Whether you're driving, carrying shopping bags, picking up kids, or even doing the laundry, daily living is that little bit easier when you've got powerful arms.</li>
                <li><b>Increased arm strength will increase results in any workouts</b> - even exercises that focus on other body parts. From swimming and running to tennis and yoga, strong arms provide the balance and foundation to propel your results from good to great.</li>
                <li><b>Muscle burns more calories than fat so strong, toned arms can help you achieve weight loss.</b> Arm exercises are also a fantastic way to strengthen and tone your core as your abdominal muscles engage when you perform the repetitions.</li>
                <li><b>Keeping your arms pumped up will also give you a healthy heart, according to the American Heart Association.</b> Plus, strength training can boost bone density and keep your bones healthy - which is particularly important as you get older.</li>
                <li><b>Arm exercises are one of the most flexible types of training</b> as you can tone your arms with little or no equipment whether you're at home, at the gym or even on holiday. Toned arms can also boost your confidence and encourage your to wear tops that show off your muscle definition.</li>
                <br><br>
                <li>There are four main muscles in your arms - biceps, triceps, deltoids and brachioradialis. We make sure to work them all out for best results!</li>
            </ul>
        </div>
</p>
