<h1>Workout types</h1>

<h1><%= @workouttype.name %></h1>
<hr>
<ul style="list-style-type: none;">
    <h2> See the current Training Sessions for this Work out! </h2>
    <% @workouttype.training_sessions.each do |obj| %>
        <li>
            <%= link_to obj.name, obj %>
        </li>
    <% end %>
</ul> 