<h1>Training Sessions</h1>
<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTD3Ag-x-HS45yRXPzgBtcu7GT5KdPhverHxA&usqp=CAU" alt = "extra fries please">
<hr>

<% @trainingsessions.each do |session| %>
    <li> <%= link_to session.name, session %> </li>
<% end %>

