<h1><%= @trainingsession.name %>'s Training Session</h1>
<hr>

<h2>Work Out:</h2>
<%= link_to @trainingsession.workout_type.name, @trainingsession.workout_type  %>

<h2>Gym:</h2>
<%= link_to @trainingsession.gym.name, @trainingsession.gym %>