<h1> Gyms </h1>
<img src = "https://images-na.ssl-images-amazon.com/images/I/8121nnidPJL._AC_SL1500_.jpg" width = "300" height = "150" alt = "White Goodman">

<hr>

<% @gyms.each do |gym| %>
    <li><%= link_to gym.name, gym %> </li>
<% end %>



