<h1><%= @gym.name %></h1>
<hr>
<h2>Meet our Members:</h2>
<ul style="list-style-type: none;">
    <% @gym.members.each do |names| %>
        <li>
            <%= link_to names.name, names %>
        </li>
    <% end %>
</ul>
<h2>Meet our Coaches:</h2>
<ul style="list-style-type: none;">
    <% @gym.fitness_coaches.each do |names| %>
        <li>
            <%= link_to names.name, names %>
        </li>
    <% end %>
</ul>
<h2>See our Workouts:</h2>
<ul style="list-style-type: none;">
    <% @gym.workout_types.each do |names| %>
        <li>
            <%= link_to names.name, names %>
        </li>
    <% end %>
</ul>
